public/thankyou_diagnostics.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Роял Медик</title>
    <!-- meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="theme-color" content="#ffffff">
    <!-- icon & css-->
    <link rel="icon" href="/image/favicon.ico" sizes="any">
    <link rel="icon" href="/image/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.json">
  <link href="/assets/css/vendors.css?v=ca186b9" rel="stylesheet"><link href="/assets/css/main.css?v=290e8ee" rel="stylesheet"></head>
  <body>
    <div id="app">
      <main>
        <section id="thanks">
          <div class="container">
            <div class="thanks content">
              <div class="thanks__title">
                <h2>Спасибо за заявку!</h2>
              </div>
              <div class="thanks__text">
                <p>Мы свяжемся с вами в&nbsp;ближайшее&nbsp;время</p>
              </div>
              <div class="thanks__button">
                <div class="button button--thanks"><a href="/" title="Вернуться на сайт">Вернуться на сайт</a></div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <!-- js-->
  <script defer src="/assets/js/vendors.js?v=496eccd"></script><script defer src="/assets/js/main.js?v=4073b67"></script></body>
</html>

src/view/thankyou_diagnostics.pug
extends include/main

block variables
  - let title = 'Роял Медик'
  - let description = ''
  - let page = 'thanks'

block content
  section#thanks
    .container
      .thanks.content
        .thanks__title
          h2 Спасибо за заявку!
        .thanks__text
          p Мы свяжемся с вами в&nbsp;ближайшее&nbsp;время
        .thanks__button
          .button.button--thanks
            a(href='/' title='Вернуться на сайт') Вернуться на сайт
